header {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
}
footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 130px;
    background-color: #04AA6D;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #04AA6D;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555555;
    color: white;
}