header {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 8px;
    text-align: center;
    z-index: 1000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 130px;
    background-color: #04AA6D;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #04AA6D;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555555;
    color: white;
}
div.flex-container {
    display: flex;
    flex-direction: row;
    margin-left:10%;
}
div.flex-container > div {
    margin: 10px;
    flex: 1; /*veergu laius*/
    border: solid 1pt grey;
    border-radius: 10px;
    padding: 10px;
}
@media screen and (max-width:600px) {
    div.flex-container  {
        flex-direction: column;
    }
}
img{
    width:200px;
}